html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --pixel-size: 15;
  --pixel-size2: 3;
}
body {
  background: #96ffc1;
}
.Charactersp {
  width: calc(12px * var(--pixel-size));/*42.667*/
  height: calc(12px * var(--pixel-size));
  overflow: hidden;
  background: rgba(0,330,222,0.03);/*0.1*/
  position: absolute;
	align-items:center;
	display:flex;
	#rectangle{ 	width:50px;
			height:50px;
			background:rgba(0,333,333,0);/*0.2*/
			margin: 0px 0px 0px 56px;//35wrong, 38right
	}
}
.Mainspsheet {
  animation: movespsheet 1s steps(6) infinite;/*1s*/
  animation: idlespsheet 1s steps(2) infinite;/*1s*/
  width: calc(128px * var(--pixel-size));
  position: absolute;
  background: rgba(0,0,0,0);/*0.5*/
}
.pixelart {
  image-rendering: pixelated;
}
.dirsw {
  top: calc(1px * var(--pixel-size));
}
.dirs {
  top: calc(-10px * var(--pixel-size));//-40px
}
.dirse{
  top:calc(-20.7px * var(--pixel-size));
}
.dire{
  top:calc(-31.5px * var(--pixel-size));
}
.dirne{
  top:calc(-42px * var(--pixel-size));
}
.dirn {
  top: calc(-52.7px * var(--pixel-size));//-84px
}
.dirnw {
  top: calc(-63.4px * var(--pixel-size));
}
.dirw {
  top: calc(-74px * var(--pixel-size));
}
@keyframes movespsheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(calc(-2*32px*var(--pixel-size)), 0, 0); /*-100%,0,0*/
  }
}
@keyframes idlespsheet{
  from {
	  transform: translated3d(calc(-11*9.68px*var(--pixel-size)),0,0);
  }
  to {	  transform: translated3d(calc(-12*10.65px*var(--pixel-size)),0,0);
  }
}
.Greentreespdiv{
  width: calc(64px * var(--pixel-size2));/*42.667*/
  height: calc(64px * var(--pixel-size2));
  position:absolute;
  top:230px; 
  left:255px;
  background:rgba(0,0,0,0.07);
#rectree{
width:
}
}
.Greentreespimg{
 position:absolute;
 top:-30px;
 left:-30px;
 object-fit: contain;
 background:rgba(0,0,0,0.08);
}
.movespsheet{
	animation: movespsheet 1s steps(6) infinite;
}
.idlespsheet{
	animation: idlespsheet 1s steps(2) infinite;
}

