.Greentreespdiv{
  width: calc(64px * var(--pixel-size2));/*42.667*/
  height: calc(64px * var(--pixel-size2));
  position:absolute;
  top:230px; 
  left:255px;
  background:rgba(0,0,0,0.07);
}
.Greentreespimg{
 position:absolute;
 top:-30px;
 left:-30px;
 object-fit: contain;
 background:rgba(0,0,0,0.08);
}
